# Dependencies and Build Artifacts
node_modules/
.pnpm-store/
dist/

# Logs, Temporary, and Backup Files
*.log
*.tmp
*.bak
*.old
*.pid
*.seed
*.pid.lock

# Miscellaneous
.cache/

# Clacky Env Files
.1024.nix
.1024nix
.1024feature-file
.1024feature*
*.dll
.paas-unit-*
.breakpoints
core.*
coverage/

# System and Version Control Files
.git/
.DS_Store
Thumbs.db
.nfs*

# Environment and Configuration Files
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# JavaScript/TypeScript
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Go
*.exe
*.out
*.test

# Database Files
*.sqlite
*.db
*.sql
*.sql-journal

# System and Version Control Files
*.swp
*.swo
*.swn

# Dependencies and Build Artifacts
build/
*.tgz

# Logs, Temporary, and Backup Files
*.backup
*.temp
.cache/

# Lock and Local Files
*.local
*.lock
*.log.*

.1024*
!.1024
.breakpoints